<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Case Pilar</title>
  </head>
  <body>
    <div>
      <h1 style="text-align: center; font-size:3em; margin: 50px;">Desafio Pilar!</h1>
    </div>
    <div style="padding: 5% 20% 5% 20%;">
      <div>
        <h1>Rotas:</h1>
        <p>[POST] /vowel_count</p>
        <p>[POST] /sort</p>
      </div>
      <div>
        <h1>Para testar: <a href="https://www.postman.com/">Postman</a></h1>
      </div>

    </div>
  </body>
</html>